.sexe {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-bottom: 15px;
    color: black;
}

#sex,
#sex>option {
    color: black;
    outline: none;
    padding: 2.5px;
}


.form {
    padding: 0px 12.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: url(https://i.pinimg.com/originals/70/67/c2/7067c29f2c2336c23c827cfda44e7c61.gif);
}

.divForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.divForm>div {
    width: 100%;
}