@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');

.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.errorPage h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    font-weight: 900;
    background-image: url(https://i.pinimg.com/originals/9c/98/22/9c9822a872aadcc57e2dfb3be7866780.gif);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}